*{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    max-width: 1920px;
}
section{
    margin: 40px 0;
}

.area_slider{
    position: relative;
    padding: 0;
    z-index: 1;
}
.area_slider .row{
    margin-left: 0;
    margin-right: 0;
}
.area_slider .col-9{
    /* width: 70%; */
    padding-left: 0;
    padding-right: 0;
}
.area_slider .col-3{
    /* width: 30%; */
    padding-left: 0;
    padding-right: 0;
}
.area_slider .carousel-item img{
    height: 100vh;
    object-fit: cover;
    object-position: right top;
}
.area_slider .weather{
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 55px;
}
.area_slider .weather .weather_img{
    width: 65px;
}
.area_slider .weather p{
    font-size: 2.1rem;
    margin: -7px 0 0 5px;
}
.area_slider .weather .circle{
    width: 6px;
    margin: -20px 0 0 2px;
}
.area_slider .carousel-indicators{
    position: absolute;
    left: 1280px;
    bottom: 27px;
    z-index: 5;
    margin-left: 0;
    margin-right: 0;
}
.area_slider .introduction{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 47%;
    height: 80vh;
    background: #fff;
    z-index: 2;
}
.area_slider .introduction .d-flex{
    flex-direction: column;
    padding: 65px 280px 0 65px;
}
.area_slider .introduction .d-flex h5{
    font-size: 1.87rem;
    color: #FD702D;
    margin-bottom: 12px;
}
.area_slider .introduction .article{
    font-size: 1.37rem;
    line-height: 2.5rem;
}
.area_slider .introduction .d-flex h1{
    font-size: 4.5rem;
    margin-bottom: 35px;
    font-weight: 700;
}
.area_slider .introduction .number_box{
    color: #797979;
    position: absolute;
    left: 430px;
    bottom: 10px;
    display: flex;
}
.area_slider .slider_number,.symbol{
    font-size: 4.6rem;
}
.area_slider .number_box .total_number{
    margin: 11px 15px;
    font-size: 2.5rem;
}

.area_icon{
    text-align: center;
    margin: 1.4rem 0;
}
.area_icon img{
    width: 65px;
    height: 65px;
}
.area_icon .img_p{
    margin-top: 0.65rem;
    font-size: 0.65rem;
    color: #797979;
}
.area_icon .img_number{
    font-size: 1.18rem;
    font-weight: 700;
    color: #797979;
}

.area_info{
    display: flex;
    flex-direction: column;
}
.area_info h4{
    font-size: 1.1rem;
    color: #797979;
    padding-bottom: 10px;
}
.area_info .date{
    font-size: 0.87rem;
    color: #797979;
}
.area_info .time{
    display: flex;
} 
.area_info .address{
    font-size: 0.87rem;
}
.area_info .ski_map{
    width: 145px;
    height: 32px;
    padding: 2px 0;
    color: #fff;
    background: #4C95E8;
    text-align: center;
    font-size: 0.87rem;
    border: solid 1px#4C95E8;
    border-radius: 3px;
    text-decoration: none;
}
.area_info .icon_map{
    width: 28px;
    height: 28px;
}

.area_characteristic .box{
    display: flex;
    border: solid 1px rgb(210, 210, 210);
    border-radius: 3px;
    height: 60px;
    width: 270px;
    align-items: center;
    margin: 9px 0;
}
.area_characteristic .box img{
    margin: 7.5px;
}
.area_characteristic .box p{
    margin: 0 3px;
}
.area_characteristic img{
    width: 35px;
    height: 35px;
}
.area_characteristic p{
    font-size: 0.8rem;
    font-weight: 600;
}

.area_ticket{
    margin-top: 50px;
}
.area_ticket .ticket_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.area_ticket h4{
    margin-bottom: 0;
    font-size: 1.25rem;
}
.area_ticket .ticket_title a{
    font-size: 0.56rem;
    color: #5A5A5A;
}
.area_ticket .ticket{
    margin-top: 20px;
}
.area_ticket .ticket_card{
    width: 250px;
    box-shadow:0px 0px 9px gray;
    transition: .3s;
}
.area_ticket .ticket_card a{
    text-decoration: none;
    color: #000;
}
.area_ticket .ticket_card:hover{
    text-decoration: none;
    opacity: .6;
}
.area_ticket .ticket_img{
    position: relative;
}
.area_ticket .ticket_img_pic{
    position: absolute;
    top: 33px;
    left: 75px;
    width: 100px;
}
.area_ticket .ticket_card_word{
    padding: 15px;
}
.area_ticket .ticket_img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.area_ticket .carousel-inner{
    min-height: 370px;
}
.area_ticket .icon-style {
    color: #707070;
    font-size: 40px;
}

.area_lesson{
    margin-top: 50px;
}
.area_lesson .lesson_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.area_lesson h4{
    margin-bottom: 0;
    font-size: 1.25rem;
}
.area_lesson .lesson_title a{
    font-size: 0.56rem;
    color: #5A5A5A;
}
.area_lesson .lesson{
    margin-top: 20px;
}
.area_lesson .lesson_card{
    width: 250px;
    box-shadow:0px 0px 9px gray;
    transition: .3s;
}
.area_lesson .lesson_card a{
    text-decoration: none;
    color: #000;
}
.area_lesson .lesson_card:hover{
    text-decoration: none;
    opacity: .6;
}
.area_lesson .coach_img_pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.area_lesson .lesson_card_word{
    padding: 15px;
}
.area_lesson .lesson_img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.area_lesson .carousel-inner{
    min-height: 370px;
}
.area_lesson .icon-style {
    color: #707070;
    font-size: 40px;
}

.area_comment{
    margin-top: 50px;
}
.area_comment .comment_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.area_comment h4{
    margin-bottom: 0;
    font-size: 1.25rem;
}
.area_comment .comment_title a{
    font-size: 0.56rem;
    color: #5A5A5A;
}
.area_comment .message_content{
    margin-top: 30px;
}
.area_comment .message{
    display: flex;
}
.area_comment .message_all{
    padding-left: 10px;
}
.area_comment .message_all .d-flex{
    align-items: flex-end;
}
.area_comment .message_info{
    margin-right: 10px;
    font-size: 0.56rem;
    color: #535353;
    font-weight: 700;
}
.area_comment .score{
    font-size: 0.9rem;
    color: #FF4343;
    font-weight: bold;
    margin-right: 5px;
}
.area_comment .star{
    width: 15px;
    margin:0 0 20px 4px;
}
.area_comment .message_text{
    font-size: 0.6rem;
    color: #797979;
    margin-top: -7px;
}


.area_access{
    margin-top: 30px;
}
.area_access .access_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.area_access h4{
    margin-bottom: 0;
    font-size: 1.25rem;
}
.area_access iframe{
    margin: 20px 0;
}