.test {
    /* border: red 1px solid; */
    height: 0;
}


ul {
    list-style: none;
}

.ski-footer {
    width: 100%;
    margin: 50px auto 0;
    padding: 64px;
    background: #8daec1;
    color: #ffffff;
}



.footer-item a {
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}

.footer-link {
    border-bottom: solid #ffffff 1px;
    padding: 1rem 0 1.5rem 0;
}

.logo{
    width: 100px;
    margin: 20px;
}
.logo img {
    height: 30px;
}



.right a{
    display: inline;
    font-size: 24px;
    color: #ffffff;
    padding-right:1.5rem;
    align-items: center; 
}
