/* @media only screen and (min-width : 1300px) {
    .container { max-width: 1440px; } 
} */
.container_width{
    max-width: 1440px;
    box-sizing: border-box;
}
.carousel_area{
    position: relative;
    color: #fff;
}
.slide_img{
    max-height: 900px;
    overflow: hidden;
    width: 100%;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.hotel_active{
    display: none;
}
.title_area{
    position:absolute;
    left: 5%;
    right: 5%;
    top: 0;
}
.hotel_title{
    font-family: 'Cormorant Garamond', serif;
    line-height: 4rem;
    text-shadow: 1px 1px 3px #00000058;
    padding: 25% 0 15% 0;
}
.search_area{
    padding: 25% 0 15% 0;
}
.search_btn{
    position: absolute;
    top: 30%;
    right: 6%;
    font-size: 1rem;
    font-weight: lighter;
}
.hotel_keywords_search{
    background-color: transparent;
    border: none;
    display: inline-block;
    font-size: 36px;
    color: #fff;
    margin: 0;
    white-space: nowrap;
    width: 0;
    height: 128px;
    padding: 20px 20px 0;
    cursor: pointer;
}
.hotel_keywords_search::placeholder{
    color: rgba(255, 255, 255, 0.817);
}
.hotel_keywords_search:focus-within{
    transition: width .5s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    outline: none;
    width: 700px;
    border-bottom: 1px solid #fff;
    cursor: text;
}
.year{
    position: absolute;
    top: 30%;
    left: 6%;
    font-size: 1rem;
    font-weight: lighter;
}
.year::after{
    content: " ";
    display: block;
    width: 1px;
    height: 300px;
    border-left:1px solid #fff;
    text-align: center;
    margin-left:20px;
    margin-top: 20px;
}
.temperature{
    font-size: 1.5rem;
    font-weight: normal;
    padding-right: 40px;
    vertical-align: text-bottom;
}
.temperature p span{
    font-size: 0.5rem;
    vertical-align: super;
}
.temperature_page{
    font-size: 1.5rem;
}
.carousel_number{
    letter-spacing: 0.25rem;
}
.carousel_number ul li{
    font-size:40px;
}
.carousel_number ul li:last-child{
    font-size: 25px;
    font-weight: lighter;
    vertical-align: top;
    padding-top: 0.5rem;
}
.scroll_down ul li{
    font-size:20px;
    font-weight: lighter;
    padding-top: 20px;
    /* width: 500px; */
}

/* ---------------------------------------- */
.slogan_font{
    padding: 100px 0 0 0;
    color: #aaa;
}

.slogan_font p{
    padding: 50px;
    font-size: 1.5rem;
    font-weight: lighter;
}
.slogan_font span{
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    font-weight: bolder;
}
.span_button{
    width: 90%;
    padding: 0 50px;
    margin: 0 auto;
}
.span_button a{
    width: 150px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: normal;
    color: #464743;
    background: none;
    border: solid 1px #464743;
    margin: 10px 10px;
}
.span_button a:hover{
    width: 150px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    background: #464743;
    border: solid 1px #464743;
    margin: 10px 10px;
}
/* slick ////////////////////////////////////  */
.slider {
    width: 100%;
    /* margin: 5% auto; */
    padding: 5%;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}

/* 左右按鈕 */
.slick-prev:before,
.slick-next:before {
    color: #ccc;
    /* width: 30px; */
    font-size: 40px;
    /* background: black; */
}
.slick-prev, .slick-next{
    width: 40px;
    height: 40px;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 1;
}
.slick-active {
    opacity: 1;
}
.slick-current {
    opacity: 1;
}
/* /////////////////////////////////////////  */
.card{
    position: relative;
    border:none;
}
.card_text{
    line-height: initial;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    font-weight: lighter;
    color: #aaa;
}
.card-body ul{
    margin-top: 10%;
    color: orange;
}
.card .slider_card_btn{
    position: absolute;
    bottom: 6%;
    right: 5%;
    padding: 1% 8%;
    background: #ccc;
    color: #fff;
}
.slider .card img{
    width:100%;
    height: 250px;
    object-fit: cover;
}
/* /////////////////////////////////////////  */
.hot_area_slide-up{
    width: 100%;
    height: 300px;
    overflow: hidden;
    /* object-fit: cover; */
}
.hot_area_card{
    height: 100%;
}
.hot_area_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hot_area_title{
    display: inline-block;
    padding: 35% 0;
    font-size: 3rem;
    color: #fff;
}
.hot_area_title:hover{
    color: #fff;
}

.hot_area_slide-up .text_overlay{
    background-color: #0000005f;
    line-height: 100%;
    vertical-align: middle;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}
.hot_area_slide-up .hot_area_card:hover .text_overlay{
    transform: translateY(0);
}
