

/* --------------麵包屑 */
.breadcrumb-list {
    display: flex;
    /* list-style: none; */
    padding: 10px 0;
    margin: auto 0;
    margin-bottom: 14px;
}

.breadcrumb-list li {
    padding: 0 10px;
}

.breadcrumb-list li+li {
    padding-left: 0;
}

.breadcrumb-list li+li::before {
    content: '/';
    color: #272F43;
    margin-right: 10px;
}

.breadcrumb-list a {
    color: #272F43;
}

.breadcrumb-list a:hover {
    color: #FD702D;
    text-decoration: none;
}


/* ------------- 圖片 */

.photos-content{
    margin: 0 auto;
}

.product-img img{
     /* width: 650px; */
    height: 650px; 
}


/* ------------ 訊息*/

.product-message{
    margin: 1.5rem   0.5rem

}


.product-name{
font-weight: 700;
}

.product-price{
    font-size: 2rem;
    font-weight: 500;
    color: #FD702D;
}

.star-ratings{
    padding: 10px 0;
}
.star-ratings a{
    text-decoration:none
}


.size-btn{
    margin-right: 15px;
}

.product-container{
    padding: 3rem 2.75rem;
}