body{
    background-color: #f5f5f5;
}

ul,li{
    list-style:none;
    padding:0;
    margin:0;
}
.product-note{
    margin-top: 20px;
}



.btn-red-orange{
    color: #fff;
    background-color: #FD702D;
}
.btn-red-orange:hover{
    color: #fff;
    background-color:#f54f00;
}
.btn-border{
    border: 1px solid #ccc;
}

.red-orange{
    color:#FACC2E;
}

.product-price, .product-title{
    margin-bottom:20px;
    /* border-bottom: 1px solid #4e4e4e; */
}
.product-main-info{
    margin: 20px auto;
}

.product-price span{
    letter-spacing:0.05em;
    color: #272F43;
}
.price_c{
    font-size: 1.5rem;
}

.price_n{
    font-size: 2rem;
    font-weight:600;

}


.product-title h2{
    font-size: 1rem;
    color:#4e4e4e;
}
.product-title h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: #4e4e4e;

}

/*   radio    */
input[type=radio] {
      display: none;
    }
.size-btn{
    margin-right: 10px;
}


.fas{
    padding-right: 10px;
}


.fa-heart{
    color:rgb(231, 76, 60, 0.5);

}