ul {
  list-style: none;
}
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.ski-footer {
  width: 100%;
  margin: 50px auto 0;
  padding: 64px;
  background: #8daec1;
  color: #ffffff;
}

.ski-footer-wrap {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  list-style: none;
}

.ski-footer-link {
  padding-bottom: 24px;
  border-bottom: 1px solid #ffffff;
}

.title {
  font-weight: 400;
  margin-bottom: 6px;
}

.ski-footer-link.link {
  width: 15%;

}

.link {
  width: 18%;
  box-sizing: border-box;
  padding-right: 10px;
  margin-bottom: 50px;
}

.ski-footer-link a,
.icon a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
}


.ski-footer-static .logo {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  font-size: 0;
}

.ski-footer-static .logo img {
  height: 24px;
}



.right p {
  font-size: 14px;
  margin-right: 40px;
  font-weight: 300;
  display: inline-block;
}
.right a {
  padding: 10px;
  font-size: 20px;
}
.icon{
  display: inline;
}